MISTRAL_API_KEY=your_mistral_api_key
MISTRAL_BUILDER_MODEL=codestral-latest
MISTRAL_STAGE_BUILDER_MODEL=codestral-latest
MISTRAL_EXPERIMENT_BUILDER_MODEL=codestral-latest
MISTRAL_EXPERIMENT_RESEARCH_MODEL=mistral-small-latest
MISTRAL_PODCAST_MODEL=mistral-medium-latest

ELEVENLABS_API_KEY=your_elevenlabs_api_key
ELEVENLABS_VOICE_ID=EXAVITQu4vr4xnSDxMaL
ELEVENLABS_MODEL_ID=eleven_flash_v2_5

WANDB_API_KEY=
FALLBACK_AUDIO_FILE=audio_1dece0f3.mp3
